/* your styles go here */

.box-image-text .image {
  min-height: 197px;
}
p.buttons.continue_reading_blog {
    text-align: center !important;
}
.box-image-text.blog h4 {
    min-height: 55px;
}

.box-simple {
  min-height: 230px;
}
/* Added on 29.10.19 */
.services{
  text-align: left;
}
.box-image-text.blog p{
  text-align: left;
}
.box-image-text .service-readmore{
    text-align: center !important;
}
.service-author{
  text-align: center !important;
}
.readmore{
  text-align: center !important;
}
.img-class img { width: 100%; margin-bottom: 25px; }

.news-banner-image img{
  margin-bottom: 15px!important;
  width: 100%;
  height: 300px;
  object-fit: cover;
  
}
.breadcrumb{
  padding: 0px !important;
  text-align: left !important;
}
a {
  text-decoration: none !important;
}
.detail-sm-block h3 {
  font-size: 15px;
  color: #737373;
  display: block;
  margin-top: 0px;
  margin-bottom: 8px!important;
  font-weight: 400;
  text-transform: uppercase;
}
.detail-sm-block {
  margin-left: 11px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  padding: 0.5em;
  width: 4em;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  outline: none;
  text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter {
  background: #55acee;
}

.share-btn.facebook {
  background: #3B5998;
}

.share-btn.linkedin {
  background: #4875B4;
}

.share-btn.email {
  background: #444444;
}
.card-text {
  font-size: 16px!important;
  margin: 0.5em 0!important;
  line-height: 1.4!important;
}

.side-padding {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.card-title {
  margin-top: 5px!important;
  margin-bottom: 5px!important;
  color: #333;
  font-size: 23px!important;
  font-weight: 700!important;
}
.card-bg {
  background-color: #f1f1f1!important;
}
.card-container {
  max-width: 49rem;
}
.card {
  display: block;
  margin: 2.2rem 0;
  box-sizing: border-box;
  background-color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform 0.2s cubic-bezier(0.25,0.8,0.25,1), box-shadow 0.2s cubic-bezier(0.25,0.8,0.25,1);
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.19), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.23);
}
.home-card {
  padding: 0.8em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  background-position: center center;
  object-fit: cover;
}
.blog-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.card-img-container {
  position: relative;
}
.card-img {
  border-radius: 0.3rem 0.3rem 0 0;
  margin: 0 0 -0.28em 0;
  max-height: 10em;
  object-fit: cover; 
}
.card-img-overlay {
  border-radius: 0.3rem 0.3rem 0 0;
  position: absolute;
  top: 0;
  font-size: 1.27em;
  text-align: center;
  padding: 1.18em 0 0.5em 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}
.card-body {
  padding: 1em;
}
.card-title {
  margin: 0;
  line-height: 1.2;
}
.card-text {
  margin: 1em 0;
  line-height: 1.5;
}
.card-subtext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.8em;
}
.card-subtext > p {
  margin: 0;
}
.card-subtext > p + p {
  margin-left: 1em;
  padding-left: 1em;
  word-spacing: 0.5em;
  border-left: thin solid #7a7b7c;
}
.breadcrumb>li+li:before {
  padding: 0 0px !important;
}
.img-news{
  height: 216px;
  width: 280px;
  object-fit: fill;
}
.breadcrumb-item{
  text-transform: capitalize !important;
}
.muted-text {
    color: #7a7b7c !important;
  }
.box-simple h2{
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #555555;
  font-weight: 800;
  letter-spacing: 0.08em;
}
.top-title {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 900;
    line-height: 1.1;
    color: #333333;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (pointer: coarse) {
  .card-hover {
     transform: scale(0.95);
     box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
     }
 }
 @media not screen and (pointer: coarse) {
     .card:hover {
         transform: scale(0.97);
         box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
     }
     .card:active {
         transform: scale(1);
     }
 }
 /* Medium devices (tablets, ~641px and up) */
 @media only screen and (min-width: 40.063em) {
     
     .card {
         border-radius: 0.2rem;
         /* margin: 2.5em 0; */
     }
     .blog-card {
         flex-direction: row;
         align-items: stretch;
     }
     .card-img {
         border-radius: 0.2rem 0 0 0.2rem;
         margin: 0;
         max-height: unset;
         height: 100%;
         width: 15em;
         object-fit: contain;
     }
     .card-img-overlay {
         border-radius: 0.2rem 0 0 0;
     }
     .card-body {
         padding: 1.5em 1.3em;
     }
     .card-title {
         font-size: 1.27em;
     }
     .card-text {
         font-size: 0.95em;
         margin: 1.2em 0;
     }
     .card-subtext {
         font-size: 0.7em;
     }
     
 }


 /*Riju 09-12-2019*/
 #newsOne, #blogOne{
    display: inline-block;
}
#newsOne .btn, #blogOne .btn{
    padding: 0;
}
#copyright div#navigation {
    margin: auto;
    width: 530px;
    display: block;
    text-align: center;
}
.section-title {
    /* float: left; */
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
p.footer-copyright {
    text-align: center;
}
.social {
    text-align: center;
    margin-top: 15px;
}
h1.main-title {
    text-align: center;
    margin-top: 55px !important;
    color: #653d87;
    width: 50%;
    margin: auto;
}

/*10-12-2019*/
.testimonials .owl-item {
    margin: auto !important;
    min-width: 100% !important;
    float: inherit !important;
}
.testimonials .owl-wrapper {
    width: 100% !important;
}
#top p.hidden-sm.hidden-xs {
    margin-top: 5px;
}
#top .social {
    margin-top: 0px;
}
.blog-content{
    margin-bottom: 25px;
    margin-top: 15px;
}
.img-detail img {
    margin: auto;
}
.customers .owl-item {
    width: 33.3% !important;
}
.customers .item img {
    width: 50%;
}
.recent-content {
    min-height: 290px;
}
.box-image-text.blog h4 {
    margin-top: 25px;
}
.blog-content p {
    text-align: left !important;
}
.class-sidebar {
    width: 35%;
}
.page-content {
    margin-bottom: 25px;
}
div#faq h2 {
    font-size: 20px;
}
a.btn.btn-small.btn-template-main.go_to_contact_us {
    display: block;
    margin-top: 15px;
    width: 230px;
}
.submit-contact-form {
    float: right;
}
.g-recaptcha {
    position: absolute;
    top: 90%;
    z-index: 9999999;
}
div#contact {
    margin-bottom: 25px !important;
}
.panel.panel-default.sidebar-menu {
    margin-top: -50px;
}


@media (min-width: 768px) and (max-width: 1024px) {

  .navbar ul.nav > li > a{
    letter-spacing: 0 !important;
    font-size: 13px;
    padding: 10px 10px;
  }
  .home-carousel h2{
    font-size: 25px;
  }
  h1.main-title {
    width: 100%;
    font-size: 30px;
}
#heading-breadcrumbs h1 {
    font-size: 20px;
    letter-spacing: 0;
}
.page-content h1 {
    font-size: 25px;
}
.box-simple {
    min-height: 150px;
}


}


@media (max-width: 480px) {

  /*Riju*/
  #top i {
    font-size: 20px;
  }
  .home-carousel h2{
    font-size: 25px;
  }
  .home-carousel ul li {
    font-weight: normal;
}
h1.main-title {
    width: 100%;
    font-size: 30px;
}
.box-simple {
    min-height: 140px;
}
#copyright li {
    width: auto;
    float: left;
}
#copyright li a{
  cursor: pointer;
}
.heading h2{
  font-size: 20px;
}
#heading-breadcrumbs h1{
  font-size: 20px;
}
.page-content h1 {
    font-size: 20px;
}
#blog-listing-medium .post h2 a {
    font-size: 20px;
    letter-spacing: 0;
}



#copyright div#navigation{
  width: auto !important;
}
.class-sidebar {
    width: 100%;
}
.blog-content{
  padding: 15px;
}

}



.icon.testimonial-icon {
    color: #986dbd;
    font-size: 40px;
    line-height: inherit;
}
.testimonial p {
    font-family: 'Charm', cursive;
    font-size: 20px;
    color: #7d7d7d;
    text-align: center;
}
.testimonial .icon{
  height: 70px;
}
.testimonials .item .testimonial .name-picture {
    float: left;
    text-align: center;
    width: 100%;
}
.testimonials .item .testimonial .name-picture p{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.testimonial-section {
    padding: 20px 0;
}
.testimonial-section p.lead {
    margin-bottom: 10px !important;
}
.testimonials .item .testimonial{
  padding: 10px 20px !important;
}
.testimonials .item{
  padding-bottom: 30px !important;
}