/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}
/* Added on 29.10.19 */
.services{
  text-align: left;
}
.box-image-text.blog p{
  text-align: left;
}
.box-image-text .service-readmore{
    text-align: center !important;
}
.service-author{
  text-align: center !important;
}
.readmore{
  text-align: center !important;
}
.img-class img { width: 100%; margin-bottom: 25px; }
#footer {
    margin-top: 25px;
}
.news-banner-image img{
  margin-bottom: 15px!important;
  width: 100%;
  height: 300px;
  object-fit: cover;
  
}
.breadcrumb{
  padding: 0px !important;
  text-align: left !important;
}
a {
  text-decoration: none !important;
}
.detail-sm-block h3 {
  font-size: 15px;
  color: #737373;
  display: block;
  margin-top: 0px;
  margin-bottom: 8px!important;
  font-weight: 400;
  text-transform: uppercase;
}
.detail-sm-block {
  margin-left: 11px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  padding: 0.5em;
  width: 4em;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  outline: none;
  text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter {
  background: #55acee;
}

.share-btn.facebook {
  background: #3B5998;
}

.share-btn.linkedin {
  background: #4875B4;
}

.share-btn.email {
  background: #444444;
}
.card-text {
  font-size: 16px!important;
  margin: 0.5em 0!important;
  line-height: 1.4!important;
}

.side-padding {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.card-title {
  margin-top: 5px!important;
  margin-bottom: 5px!important;
  color: #333;
  font-size: 23px!important;
  font-weight: 700!important;
}
.card-bg {
  background-color: #f1f1f1!important;
}
.card-container {
  max-width: 49rem;
}
.card {
  display: block;
  margin: 2.2rem 0;
  box-sizing: border-box;
  background-color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform 0.2s cubic-bezier(0.25,0.8,0.25,1), box-shadow 0.2s cubic-bezier(0.25,0.8,0.25,1);
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.19), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.23);
}
.home-card {
  padding: 0.8em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  background-position: center center;
  object-fit: cover;
}
.blog-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.card-img-container {
  position: relative;
}
.card-img {
  border-radius: 0.3rem 0.3rem 0 0;
  margin: 0 0 -0.28em 0;
  max-height: 10em;
  object-fit: cover; 
}
.card-img-overlay {
  border-radius: 0.3rem 0.3rem 0 0;
  position: absolute;
  top: 0;
  font-size: 1.27em;
  text-align: center;
  padding: 1.18em 0 0.5em 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}
.card-body {
  padding: 1em;
}
.card-title {
  margin: 0;
  line-height: 1.2;
}
.card-text {
  margin: 1em 0;
  line-height: 1.5;
}
.card-subtext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.8em;
}
.card-subtext > p {
  margin: 0;
}
.card-subtext > p + p {
  margin-left: 1em;
  padding-left: 1em;
  word-spacing: 0.5em;
  border-left: thin solid #7a7b7c;
}
.breadcrumb>li+li:before {
  padding: 0 0px !important;
}
.img-news{
  height: 216px;
  width: 280px;
  object-fit: fill;
}
.breadcrumb-item{
  text-transform: capitalize !important;
}
.muted-text {
    color: #7a7b7c !important;
  }
@media screen and (pointer: coarse) {
  .card-hover {
     transform: scale(0.95);
     box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
     }
 }
 @media not screen and (pointer: coarse) {
     .card:hover {
         transform: scale(0.97);
         box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
     }
     .card:active {
         transform: scale(1);
     }
 }
 /* Medium devices (tablets, ~641px and up) */
 @media only screen and (min-width: 40.063em) {
     
     .card {
         border-radius: 0.2rem;
         /* margin: 2.5em 0; */
     }
     .blog-card {
         flex-direction: row;
         align-items: stretch;
     }
     .card-img {
         border-radius: 0.2rem 0 0 0.2rem;
         margin: 0;
         max-height: unset;
         height: 100%;
         width: 15em;
         object-fit: contain;
     }
     .card-img-overlay {
         border-radius: 0.2rem 0 0 0;
     }
     .card-body {
         padding: 1.5em 1.3em;
     }
     .card-title {
         font-size: 1.27em;
     }
     .card-text {
         font-size: 0.95em;
         margin: 1.2em 0;
     }
     .card-subtext {
         font-size: 0.7em;
     }
     
 }