<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">

            <section>

                {{ .Content }}
                {{ if isset .Site.Params "email" }}
                <div class="heading">
                  <h3>{{ i18n "contactForm" }}</h3>
                </div>

                <div id="contact-message"></div>

                <form accept-charset="UTF-8" action="https://usebasin.com/f/e9d64b37198d" enctype="multipart/form-data" method="POST">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="name">{{ i18n "contactName" }}</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">{{ i18n "contactMail" }}</label>
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">{{ i18n "contactMessage" }}</label>
                                <textarea id="message" class="form-control" name="message" required></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>{{ i18n "contactSend" }}</button>
                            <input type="text" name="_gotcha" style="display:none" />
                            <input type="hidden" name="_subject" value="[RevenueAccel Sales] Primary website contact form submission" />
                            <input type="hidden" name="_cc" value="info@revenue.health" />
                            <!-- input type="hidden" name="_cc" value="weber.mk@gmail.com,manoj@i-medbill.com,shahid.shah@netspective.com" /> -->
                        </div>
                    </div>
                    <!-- /.row -->
                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

                    ...
                 <div class="g-recaptcha" data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy"></div>
                    ...

                </form>
                {{ end }}
            </section>

        </div>

        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>
            {{ end }}

        </div>

    </div>
    <!-- /.row -->
</div>


