<div id="breadcrumbs" class="new-ofer-breadcrumbs">
  <nav aria-label="breadcrumb mx-auto" role="navigation">
    <div itemprop = "breadcrumb" itemscope itemtype = "https://schema.org/BreadcrumbList">
    <ol class="breadcrumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      {{ if isset .Params "breadcrumbs" }}
      {{ $length := (len .Params.breadcrumbs) }}
      {{ range $elem_index, $breadcrumb := .Params.breadcrumbs  }}
      {{ with $.Params.breadcrumbLinks }}
      {{ $path := index . $elem_index }}
      {{ $path_url := path.Join $.Site.Params.hostName $path }}
      {{ if eq $elem_index 0}}
      <li class="breadcrumb-item"><a href="{{ $path_url }}"><span itemprop="name">{{ $breadcrumb }}</span></a><meta itemprop="position" content="1" /></li>
      {{ else if ne $path "/"  }}
      <li class="breadcrumb-item"><a href="{{ $path_url }}"><span itemprop="name">{{ $breadcrumb }}</span></a><meta itemprop="position" content="2" /></li>
      {{ else }}
      <li class="breadcrumb-item active" aria-current="page"><span itemprop="name">{{ $breadcrumb }}</span><meta itemprop="position" content="2" /></li>
      {{ end }}
      {{ end }}
      {{ end }}
      {{else}}
      <li class="breadcrumb-item"><span itemprop="name"><a href="/">Home</span></a><meta itemprop="position" content="1" /></li>
      {{ $length := (len (split .URL "/")) }}
      {{ range $elem_index, $breadcrumb := (split .URL "/") }}
      {{ if gt (len . ) 0 }}
      {{ if ne $elem_index (sub $length 2) }}
      <li class="breadcrumb-item"><a href="/{{ . }}"><span itemprop="name">{{ humanize (replace . "posts" "blog") }}</span></a><meta itemprop="position" content="1" /></li>
      {{else}}
      <li class="breadcrumb-item active" aria-current="page"><span itemprop="name">{{ . }}</span><meta itemprop="position" content="2" /></li>
      {{ end }}
      {{ end }}
      {{ end }}
      {{end}}
    </ol>
  </nav>
  <div id="es_total" class="pull-right" style="display:none"></div>
</div>