<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-4 col-sm-6">
            <h4>{{ i18n "aboutUs" }}</h4>

            {{ .Site.Params.about_us | markdownify }}

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

        <div class="col-md-4 col-sm-6">

            {{ if isset .Site.Params "recent_posts" }} {{ if .Site.Params.recent_posts.enable }}
            <h4>{{ i18n "recentPosts" }}</h4>

            <div class="blog-entries">
                {{ range first 3 (where .Site.Pages "Type" "blog") }}
                <div class="item same-height-row clearfix">
                    <div class="image same-height-always">
                        <a href="{{ .Permalink }}">
                          {{ if isset .Params "banner" }}
                            <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="{{ .Title }}">
                          {{ else }}
                            <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="{{ .Title }}">
                          {{ end }}
                        </a>
                    </div>
                    <div class="name same-height-always">
                        <h5><a class="continue_reading_blog" href="{{ .Permalink }}">{{ .Title }}</a></h5>
                    </div>
                </div>
                {{ end }}
            </div>

            <hr class="hidden-md hidden-lg">
            {{ end }} {{ end }}

        </div>
        <!-- /.col-md-4 -->

        {{ if isset .Site.Params "address" }}
        <div class="col-md-4 col-sm-6">

          <h4>{{ i18n "contactTitle" }}</h4>

            {{ .Site.Params.address | markdownify }}

            <a href="/contact" class="btn btn-small btn-template-main go_to_contact_us">{{ i18n "contactGoTo" }}</a>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

    </div>
    <!-- /.container -->
    <!-- Start of HubSpot Embed Code -->
     <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4623191.js"></script>
  <!-- End of HubSpot Embed Code -->

 

</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
             <div class="navbar-collapse collapse" id="navigation">
        <ul class="nav navbar-nav ">
          {{ range .Site.Menus.footermenu }}
          <li class="dropdown navbar-li" id="nav_wght_{{ .Weight}}">
            {{ if .HasChildren }}
            <a id="footer_{{ .Name | lower }}" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{ range .Children }}
              <li><a id="footer_r_{{ .Name | lower }}" href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
            {{ else }}
            <a id="footer__{{ .Name | lower }}" href="{{ .URL }}">{{ .Name }}</a>
            {{ end  }}
          </li>
          {{ end }}
        </ul>
      </div>

            <p class="footer-copyright">Copyright (C) {{ now.Format "2006"}} <a href='https://www.revenue.health/'>Revenue Acceleration LLC</a> - Healthcare Revenue Cycle Management & Administration. All Rights Reserved.</p>
          
            <!-- <p class="pull-right">
              {{ i18n "templateBy" }} <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>.
              <!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->              
            <!--</p>--> 
            
               <div class="social">
          {{ range .Site.Menus.topbar.ByWeight }}
          <a href="{{ .URL }}" target="_blank" id="footer_{{ .Name}}" style="opacity: 1;">{{ .Pre }}</a>
          {{ end }}
        </div>          
            
                
        </div>
    </div>
  </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
