<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">
        {{ partial "bread-crumb.html" . }}
            <section>

              
                <div class="heading">
                  <h3>{{ .Title}}</h3>
                </div>
                <h2>Pages</h2>
<ul>
{{ range (where .Site.Pages.ByTitle ".Type" "page") }}
    <li><article itemscope itemtype="http://schema.org/Blog">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </article></li>
{{ end }}
</ul>

<h2>Blog posts</h2>
<ul>
{{ range (where .Site.Pages.ByTitle ".Type" "post") }}
    <li><article itemscope itemtype="http://schema.org/Blog">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </article></li>
{{ end }}
</ul>
    
            </section>

        </div>

        

    </div>
    <!-- /.row -->
</div>


