<div class="detail-sm-block">
    <h3>Share</h3>
    <a href="http://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Social.twitter }}"
        target="_blank" class="share-btn twitter">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" class="share-btn facebook">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="http://www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank"
        class="share-btn linkedin">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:?subject=Check out this post by {{ .Permalink }}&amp;body={{ .Permalink }}" target="_blank"
        class="share-btn email">
        <i class="fas fa-envelope"></i>
    </a>
</div>